body {
    /* background-color: red; */
}
.top-header {
    background-color: #FB625B;
    color: #fff;
}
.menu-links {
    position: relative;
    top: -35px;
}
.menu-links ul li a {
    margin: 0px 20px
}
.logo-img {
    height: 120px;
}
.theme-btn {
    background-color: #FB625B;
}
.hero-section {
    background-image: url('https://themewagon.github.io/feane/images/hero-bg.jpg');
    height: 600px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }