@media (max-widht:320px) {
   .hotel-form{
      width: none;
      margin-left: none; 
   }
}

@media (max-widht:375px) {
   
}
@media (max-widht:425px) {
   
}
@media (max-widht:576px) {
   
}
@media (max-widht:768px) {
   
}
@media (max-widht:1024px) {
   
}
@media (max-widht:1400px) {
   .hotel-form{
      width: 80%;
      margin-left: 20%; 
   }
}

