/* body {
    border: 1px solid red;
} */

.container {
    background-color: rgb(33, 37, 41);
}

.row-card {
    background-color: rgb(33, 37, 41);
}

.large {
    color:white;
    font-family: Playfair Display;
}

h1 {
    font-family: Georgian;
    color: blue;
    margin-top: 50px;
}

p {
    font-size: 20px;
}

.col-8 p {
    font-size: 17px;
}

a {
    font-size: 20px;
}

.col-8 h3 {
    font-family: Georgian;
    font-weight: bold;
}

.firehose h3 {
    font-family: Georgian;
    font-weight: bolder;
}

.blog-post p:nth-child(2) {
    color: rgb(105,106,108);
}
.element li ins {
    color: rgb(230,132,178);
    text-decoration-line: none;
}
.code-block {
    font-size: 13px;
    letter-spacing: 2px;
}
.blog-post-2 p:nth-child(2) {
    color: rgb(105,106,108);
}